.nav-item {
    list-style-type: none;
    padding-right: 40px;
    
}

.nav-link::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: rgba(34, 104, 244, 0.886);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
    transform-origin: left;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

/* .no-arrow::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: rgb(100, 81, 207);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
    
} */
/* 
.no-arrow:hover::after {
    transform: scaleX(1);
    transform-origin: right;
} */


.push{
    padding-top: 15px;
    margin-right: 30px;
}

.nav-link{
    font-weight: bold;
    
}

ul{
    list-style-type: none !important;
}

li{
    list-style-type: none !important;
}
.no-arrow{
    padding-top: -5px;

}


.infovi{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: px;
}

.quick_links{
    height: 80px;
}

/* .main-list{
    list-style-type: none !important;  
} */

.phone_number{
    width: 50% !important;
    height: 40px !important;
}

.amount{
    width: 140px;
}

.amt{
    margin-left: 100px;
}

.seee{
    width: 35%;
}

.airt_airtime{
    box-shadow: 2px 2px 15px #4e73df;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    position: relative;
    right: 25px;
    padding: 20px;
    
}

.class-buttons{
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}


.buttonss{
    display: inline-flex;
}

.fff{
    padding: 5px;
}


@media screen  and (max-width: 992px) {
    .wifi {
        width: 10px !important;
        position: relative;
        right: 17px;
    }

    .data{
        width: 10px !important;
        position: relative;
        right: 24px;
        
    }

    .elect{
        font-size: 10px !important; 
    }

    .exam{
        font-size: 10px !important;
    }

    .vinc{
        margin-top: -20px;
    }

    .quick{
        font-size: 17px;
    }

    .pin{
        width: 10px !important;
        position: relative;
        right: 14px; 
    }

    .tv{
        width: 10px !important;
        position: relative;
        right: 20px;
    }

    .bills{
        width: 10px !important;
        position: relative;
        right: 16px;
    }

    .fafaf{
        /* width: 100px !important; */
        position: relative;
        right: 65px;
    }

    .phone_number{
        width: 100% !important;
    }

    .airt_airtime{
        margin-left: 0px;
        padding: 30px;
    }

    .vincent_airt{
        display:    block !important;
    }

    .amt{
        margin-left: 0px;
        margin-top: 20px;
    }

    .netw_ork{
        height: 0% !important;
        width: 0% !important;
    }

    .seee{
        height: 0px;
        width: 0px;
    }

    .buttonss{
        position: relative;
        right: 24px;
        display: inline-flex;
    }

    .class-buttons{
        padding-left: 0px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .fff{
        padding: 2px !important;
        
    }



}
